 // Widescreens
@include mediaXl {
    .container .flex1 .flex1_top {
        width: 60%;
        background-position: center center;
        background-size: contain;
    }
}

// Desktops and Laptops
@include mediaLg {
    .container .flex1 .flex1_top {
        width: 60%;
        background-position: center center;
        background-size: contain;
    }

}

// Tablets and Small laptops
@include mediaMd {

}

// Smartphones
@include mediaSm {

}