@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.debug {
  border: 1px solid blue;
}

<<<<<<< HEAD
.container_event {
=======
.container_events {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 100%;
  height: 85%;
  padding-top: 10px;
}

<<<<<<< HEAD
.container_event .month_container {
=======
.container_events .month_container {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

<<<<<<< HEAD
.container_event .month_container a {
=======
.container_events .month_container a {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 7%;
  height: 25px;
  background-color: white;
  text-decoration: none;
  color: #C3091E;
  text-align: center;
  border: 0.5px solid #C3091E;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

<<<<<<< HEAD
.container_event .month_container a:active {
=======
.container_events .month_container a:active {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

<<<<<<< HEAD
.container_event .event_card_container {
=======
.container_events .event_card_container {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

<<<<<<< HEAD
.container_event .event_card_container .card_image {
=======
.container_events .event_card_container .card_image {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 300px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

<<<<<<< HEAD
.container_event .event_card_container .card_image img {
=======
.container_events .event_card_container .card_image .background_image {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

<<<<<<< HEAD
.container_event .event_card_container .card_image .join_event_button {
=======
.container_events .event_card_container .card_image .join_event {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.container_events .event_card_container .card_image .join_event img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_events .event_card_container .card_image .join_event_button {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 20px;
  height: 20px;
}

<<<<<<< HEAD
.container_event .event_card_container .card_image .card_sign_in {
  cursor: pointer;
}

.container_event .event_card_container .card_image .card_description {
  cursor: pointer;
}

.container_event .event_card_container .card_image .card_options {
=======
.container_events .event_card_container .card_image .card_sign_in {
  cursor: pointer;
}

.container_events .event_card_container .card_image .card_description {
  cursor: pointer;
}

.container_events .event_card_container .card_image .card_options {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

<<<<<<< HEAD
.container_event .event_card_container .card_image .card_options:hover {
=======
.container_events .event_card_container .card_image .card_options:hover {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  background-color: black;
  color: white;
}

<<<<<<< HEAD
.container_event .navigate_container {
=======
.container_events .navigate_container {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

<<<<<<< HEAD
.container_event .navigate_container a {
=======
.container_events .navigate_container a {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  text-decoration: none;
  font-size: 20px;
  color: #1666a0;
  border-bottom: 1px solid rgba(22, 102, 160, 0);
  border-top: 1px solid rgba(22, 102, 160, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

<<<<<<< HEAD
.container_event .navigate_container a:hover {
=======
.container_events .navigate_container a:hover {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  border-bottom: 1px solid #1666a0;
  border-top: 1px solid #1666a0;
}

<<<<<<< HEAD
.container_event .total_events_container {
=======
.container_events .total_events_container {
>>>>>>> 24db6c826763bfc1516cf0c990a619d8e012713c
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_events .joint_event_button {
  display: block;
  position: relative;
  bottom: 390px;
  left: 230px;
  color: white;
}
/*# sourceMappingURL=eventpage.css.map */