// Variables
@import 'config';

input[type="password"] {
    
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input[type="email"] {
    
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}




.profile_container {
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .separate_span {
        padding: 5px 10px;
        font-size: 16px;
        color: $red;
    }

    .input_flex {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        font-size: 14px;
        padding-left: 5px;
    }

    // start flex-box 1
    .profile_boxes {
        height: 90%;
        width: 400px;
        max-width: 550px;
        margin: 30px 30px;
        padding: 10px;
        box-shadow: 3px -3px 10px 0px $blue;
        border-radius: 10px;

        input::placeholder {
            color: $blue;
        }

        .photo_button_container {
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: space-around;
            margin: 0 auto;

            .photo_box {
                width: 40%;
                height: 100%;
                border: 1px dotted black;
                border-radius: 10px;

                .photo_image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .upload_button {
                position: relative;
                width: 110px;
                height: 20%;
                align-self: flex-end;
                border: none;
                color: white;
                font-size: 16px;
                transition: 0.4s;
            }
        }

        .input_container {
            display: flex;
            width: 90%;
            height: 50%;
            flex-direction: column;
            padding: 10px 10px;
            margin: 0 auto;
            font-size: 14px;

            .gender_span {
                color: $blue;
            }

            .input_profile_page {
                width: 50%;
                height: 35px;
                margin-left: 10px;
                color: $blue;
            }

            .input_range {
                width: 50%;
                margin-left: 10px;
            }
        }

        .who_am_i {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 30%;
            margin: 0 auto;

            .text_area {
                width: 90%;
                height: 40%;
                margin: 0 auto;
            }

            .see_personal_page {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 30%;
                margin: 10px auto;

                .button_personal_view {
                    border: none;
                    color: white;
                    background-color: $blue;
                    font-size: 18px;
                    width: 40%;
                    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    transition: 0.3s;
                }

                .button_save_changes {
                    border: none;
                    color: white;
                    background-color: $red;
                    font-size: 18px;
                    width: 40%;
                    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    transition: 0.3s;
                }

                .button_save_changes:active {
                    transform: scale(0.8);
                }

                .button_personal_view:active {
                    transform: scale(0.8);
                }
            }
        }
    }

    // start flex-box 2
    .filter_flex {
        width: 100%;
        height: 50%;

        .filter_name {
            width: 100%;
            height: 50px;
            text-align: center;
            color: $blue;
            font-size: 28px;
        }

        .filter_options {
            width: 100%;
            height: 350px;

            .genre_box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 30px;

                .list_dropdown {
                    margin-left: 10px;
                    height: 30px;
                }
            }

            .input_radio_box {
                display: flex;
                justify-content: space-around;
                width: 70%;
                font-size: 14px;
                padding-left: 5px;
                padding-top: 5px;
            }

            .filter_age {
                margin-left: 10px;
                width: 80%;
            }
        }

        .find_matches_button {
            display: inline-block;
            border: none;
            color: white;
            background-color: $red;
            font-size: 18px;
            width: 40%;
            height: 40px;
            border-radius: 10px;
            outline: none;
            transition: 0.3s;
        }

        .find_matches_button:active {
            transform: scale(0.8);
        }
    }




    .matches_flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
        border-top: 1px solid $red;

        .matches_card {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 15%;
            width: 100%;

            .card_photo_box {
                height: 100%;
                width: 15%;
                transition: 0.4s;
            }

            .card_photo_box:hover {
                transform: scale(2);
            }

            .card_name_box {
                height: 50%;
                width: 60%;
            }

            #card_button_box {
                width: 10%;
                height: 80%;
                background-image: url("../images/heart.png");
                background-position: center;
                background-size: cover;
                cursor: pointer;
                transition: 0.4s;
            }

            #card_button_box:active {
                transform: scale(1.5);
            }

        }

    }

    // start flex-box 3
    .current_dates_container {
        width: 100%;
        height: 50%;

        .filter_name {
            width: 100%;
            height: 50px;
            text-align: center;
            color: $blue;
            font-size: 28px;
        }

        .current_dates_box {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            .matches_card {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 15%;
                width: 100%;
    
                .card_photo_box {
                    height: 100%;
                    width: 15%;
                    transition: 0.4s;
                }
    
                .card_photo_box:hover {
                    transform: scale(2);
                }
    
                .card_name_box {
                    height: 50%;
                    width: 60%;
                }
    
                #card_delete_box {
                    width: 5%;
                    height: 50%;
                    background-image: url("../images/delete.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }
            }
        }
    }
    .games_container {
        width: 100%;
        height: 50%;
        border-top: 1px solid $red;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .filter_name {
            width: 100%;
            height: 50px;
            text-align: center;
            color: $blue;
            font-size: 28px;
        }

        .game_card {
            width: 100%;
            height: 13%;
            display: flex;
                justify-content: space-around;
                align-items: center;

            .game_photo_box {
                height: 100%;
                width: 15%;
                transition: 0.4s;
                
            }
            .game_photo_box:hover {
                transform: scale(2);
            }

            .games_input {
                width: 60%;
            }
            #game_delete_box {
                width: 5%;
                height: 50%;
                background-image: url("../images/delete.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
            }

        }
    }
}
